@import "@/styles/tenant-colors.scss";


// Changed/Added Colors
$yellow: #fdf8da; // Light-Yellow
$yellow-dark: #f8f1c6; // Light-Yellow
$red: #d4004b; // SH Rot
$red-dark: #ad013d;
$cyan: #0089ca; // SH Cyan
$green: #509500; // Used for "Drive-To" in Map-Window
$white: #fff;
$gray: #f0f0f0; // Grau
$gray-dark: #e6e6e6;  // SH Dark Grey
$gray-very-dark: #333333; // SH Very Dark Grey for Text

// Overwritten Bootstrap-Classes
$info: $cyan;
$warning: #efce0d;
$warning-light: #ffe344;
$muted: $gray-dark;
$light: $white;
$dark: $gray-very-dark;

// Colors for the UI-Backgrounds
$window-bg: #fcfcfc;
$body-bg: $gray;
$body-color: $gray-very-dark;
// Dark for Darkmode
$dark-window-bg: #2a2a2a;
$dark-body-bg: #1c1b1b;
$dark-body-color: $body-bg;

// Primary/Secondary Colors for Darkmode
$dark-primary: $secondary !default;
$dark-secondary: $primary !default;


//Primary/Secondary Variants for Accents
$primary-light: lighten($primary, 15%) !default;
$primary-shadow: rgba($primary, 0.5);
$secondary-light: lighten($secondary, 15%) !default;
$secondary-shadow: rgba($secondary, 0.5);
$dark-primary-light: lighten($dark-primary, 15%) !default;
$dark-primary-shadow: rgba($dark-primary, 0.5);
$dark-secondary-light: lighten($dark-secondary, 15%) !default;
$dark-secondary-shadow: rgba($dark-secondary, 0.5);

// Muted Text-Colors
$muted-dark: rgba($body-bg, 0.6) !default;
$muted-light: rgba($body-color, 0.8) !default;

//slightly darker shadow 
$box-shadow-sm: 0 .125rem .25rem rgba(#000, .15) !default;

// breakpoints
$breakpoint-xs: 0;
$breakpoint-logo-xs: 360px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

// set internal breakpoints for b-components
$grid-breakpoints: (
  xs: $breakpoint-xs,
  sm: $breakpoint-sm, // phone
  md: $breakpoint-md, // tabled
  lg: $breakpoint-lg, // desktop
  xl: $breakpoint-xl // large screens
);

// set container max width for b-container breakpoints
$container-max-widths: (
  xs: 920px
);